{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "env" : {
        "mocha" : true,
        "node" : true,
        "es6" : true
    },
    "rules" : {
        "no-underscore-dangle" : "off",
        "comma-dangle" : "warn",
        "arrow-parens" : "off",
        "max-len" : ["warn", 200],
        "no-bitwise" : "off",
        "prefer-arrow-callback" : "warn",
        "consistent-return" : "warn",
        "curly" : ["error", "multi-or-nest"],
        "no-plusplus" : "off",
        "no-console" : "off"
    }
}